html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar-container {
  width: 100%;
  background: linear-gradient(180deg, #D2F9F2 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 2rem;
  margin-left: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background-color: #fff;
  margin-right: 2rem;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 0 3rem 0 rgb(127, 214, 86);
  background-color: rgba(245, 245, 245, 0.637);
}

.logo {
  width: 30%;
  text-align: start;
}

.logo h1 {
  font-size: 1.5rem;
  color: #3A9C54;
}

.logo span {
  font-size: 0.75rem;
  color: #007BFF;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: end;
  width: 70%;
  font-weight: 500;
}

.menu li {
  margin: 0 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

li:hover {
  text-decoration: underline;
  color: rgba(83, 195, 81, 1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .menu li {
    margin: 0.5rem 0;
  }

  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 1.25rem;
  }

  .menu li {
    font-size: 0.875rem;
  }
}
