.better-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  
}

.better-stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.25rem;
}

.stat-item {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  background-color: rgba(227, 243, 229, 1);
  padding: 1.25rem;
  transition: background-color 0.3s ease;
}

.stat-item:hover {
  background-color:#D2F9F2; 
}


.stat-item:hover p {
  color: rgb(12, 12, 12); 
}
.stat-item:hover h3{
  color: rgb(129, 129, 206);
}

.stat-icon {
  width: 13rem;
  height: 13rem;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  margin: 0.3125px 0;
  font-weight: bold;
}

p {
  color: gray;
  font-size: 1.3rem;
}


 /* media query */

@media (max-width: 768px) {
  .better-stats {
    flex-direction: column;
    gap: 1.25rem; /* Reduced gap */
  }

  .stat-item {
    width: 100%;
    padding: 1rem; /* Reduced padding */
  }

  .stat-icon {
    width: 10rem;
    height: 10rem; /* Smaller images for smaller screens */
  }

  h2 {
    font-size: 1.5rem; /* Slightly smaller for smaller screens */
  }

  h3 {
    font-size: 1.5rem; /* Adjusted for mobile */
  }

  p {
    font-size: 1.1rem; /* Adjusted for readability on mobile */
  }
}

@media (max-width: 480px) {
  .stat-item {
    padding: 0.875rem; /* Further reduced padding */
  }

  .stat-icon {
    width: 8rem;
    height: 8rem; /* Smaller for very small screens */
  }

  h2 {
    font-size: 1.25rem; /* Smaller for very small screens */
  }

  h3 {
    font-size: 1.25rem; /* Adjust for readability */
  }

  p {
    font-size: 1rem;
  }
}
